extends layout

block content
  h1 #{username}
  
  h1 Posts
  form#post(action="/post", type="POST")
    input(type="text")

  ul.allPosts
    each post in allPosts
      li= post.username + ' - ' + post.content + ' at ' + post.date

  script(type='text/javascript').
    $('#post').submit( function(event){
        event.preventDefault();
        console.log( '$(this): ', $(this) );
        console.log( '$(this) action attribute: ', $(this).attr('action'))
        var url = $(this).attr('action');
        var content = { content: $(this).children('input').val() };
        console.log( 'the form content: ', content)

        $.post(url, content, function(response){ 
          console.log('I wrote a post!' );
          $('#post').children('input').empty();
        });


      });

  script(type="text/javascript").
    function refreshPosts () {
      var newposts = []
      $.getJSON( '/refreshPosts' ).done( function( posts ){
          newposts = posts.map( function( post ){ if ( Date.parse( post.date ) >  })
        })
      newposts.forEach( function(element){
        $('.posts').append('<li>').html( element.content );
      });
    }
    // window.setInterval(refreshPosts, 10000);





