extends layout

block content
  h1 #{username}
  
  h1 Posts
  form#post(action="/post", type="POST")
    input(type="text")

  ul.posts
    each post in posts
        li.post= post.content

  script(type='text/javascript').
    $('#post').submit( function(event){
        event.preventDefault();
        console.log( '$(this): ', $(this) );
        console.log( '$(this) action attribute: ', $(this).attr('action'))
        var url = $(this).attr('action');
        var content = { content: $(this).children('input').val() };
        console.log( 'the form content: ', content)

        $.post(url, content, function(response){ 
          console.log('I wrote a post!' );
        });
      });

  script(type="text/javascript").
    function refreshPosts () {
      var newposts = []
      $.get( url, function(){
        //get new posts
        //save them to variable
        })
      newposts.forEach( function(element){
        $('.posts').append('<li>').html( element.content );
      }
    }

    window.setInterval(refreshPosts, 10000);




