extends layout

block content
  h1 #{username}
  
  h1 Posts
  form#post(action="/post", type="POST")
    input(type="text")
  
  h1 #{posts}
  ul.posts
    each post in posts
      each prop in post
        li.post= prop

  script(type='text/javascript').
    $('#post').submit( function(event){
        event.preventDefault();
        console.log( '$(this): ', $(this) );
        console.log( '$(this) action attribute: ', $(this).attr('action'))
        var url = $(this).attr('action');
        var content = { content: $(this).children('input').val() };
        console.log( 'the form content: ', content)

        $.post(url, content, function(response){ 
          console.log('I wrote a post!' );
        });
      });