extends layout

block content
  h1 I Can't Believe It's Not Twitter!
  h3 Hello, #{username}. 
  h4 What do you have to say? 
  form#post(action="/post", type="POST")
    input#text(type="text" placeholder="What do you have to say?" size="80" maxlength="240")

  ul.allPosts
    each post in allPosts
      li= post.username + ' - ' + post.content + ' at ' + post.date

  script(type='text/javascript').
    $( document ).ready( function(){
      
      var timestamp = Date.now();
      console.log( 'the initial timestamp is: ', timestamp);

      $('#post').submit( function(event){
          event.preventDefault();
          var url = $(this).attr('action');
          var content = { content: $(this).children('input').val() };
          $('#text').val('');
          
          $.post(url, content, function(response){ 
          });
          //console.log( '$(this): ', $(this) );
          //console.log( '$(this) action attribute: ', $(this).attr('action'))
          //console.log( 'the form content: ', content)


          //console.log('I wrote a post!' );
        });

      function refreshPosts () {
        var newposts = []
        $.get( '/refreshPosts' ).done( function( posts ){
            //console.log( 'these are the posts the server sent back: ', posts )
            newposts = posts.map( function( post ){ 
              //console.log( 'this is a post that im mapping over: ', post);
              if ( Date.parse( post.date ) >  timestamp ){
                  return post;
                }
            }); //END OF MAP FUNCTION
          //console.log('this is newposts after the map function: ', newposts);
          newposts.forEach( function(post) {
            if ( post ){
              $('.allPosts')
                .prepend( 
                  $('<li>').html( post.username + ' - ' + post.content + ' at ' + post.date ) 
                )
            }
          });
          timestamp = Date.now();
          console.log('timestamp is now: ', timestamp);
          }); //END OF DONE CALLBACK
      } //END OF REFRESH FUNCTION
      
      window.setInterval(refreshPosts, 5000);
    });




