doctype html
html
  head
    title= title
    link(type="text/css", rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==", crossorigin="anonymous")
    link(type="text/css", rel='stylesheet', href="/stylesheets/style.css")

    script(type="text/javascript", src="https://code.jquery.com/jquery-2.1.4.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.js")
    script(type="text/javascript", src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js", integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==", crossorigin="anonymous")
  
  body
    nav
      ul.nav.nav-pills
        li Home
        li Profile
        li Messages
        li
          button#logout(type="submit" formaction="/logout") logout
        li.pull-right
          form.navbar-form(role="search")
            .form-group
              input.form-control(type="text", placeholder="Search")
              button.btn.btn-default(type="submit") Submit

    block content
      
    footer
      p &copy; Social Whatever 2015

    script(type='text/javascript').
      $('#logout').click( function(event){
          //console.log( '$(this): ', $(this) );
          //console.log( '$(this) formatction attribute: ', $(this).attr('formaction'))
          var url = $(this).attr('formaction');
          $.post(url, function(){console.log('deleted the cookies!' )});
        });


