extends layout

block content
  h1 I Can't Believe It's Not Twitter!
  h3 Posts by #{username}. 

  ul.posts
    each post in posts
      div(class="postfield")
        li(class="postlist")= username + ' said - "' + post.content + '"'
          div(class="time")= 'at ' + post.date
            form.navbar-form(id="searchbar" role="search" method="GET")
              .form-group
                button.btn.btn-default(type="submit") Favorite
                button.btn.btn-default(type="submit") Delete

  


