extends layout

block content
  h1 I Can't Believe It's Not Twitter!
  h3 Posts by #{username}. 


  ul.allPosts
    each post in posts
      div(class="postfield")
        li(class="postlist")
          div
            a.pull-left(href="/user/"+ post.username)= post.username + " "
            p(class="postline")=' said - "' + post.content + '"'
              div(class="time")= 'at ' + post.date
                div
                  button.btn.btn-default(type="submit" class="favorite") Favorite
                  button.btn.btn-default(type="submit" class="share") Share
                  button.btn.btn-default(type="submit" class="remove") Delete
