body {
  padding: 50px;
  background-color: #BC96FF;
  font: 20px "Lobster", sans-serif;
}

a {
  color: #7019FF;
}

.time{
  margin: 0 30px;
  color: grey;
  font-size: .6em;
}

.postline{
  display: inline-block;
  margin: 0px 7px;
}

.postfield{
  background-color: #99CCFF;
  border-radius: 20px;
  margin-top: 10px;
  padding: 1%;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  }


li{
  list-style-type: none;

}
  
.nav.nav-pills{
  border-radius: 10px;
  background-color: lightgreen;
  font-size: 20px;
  margin-top: -40px; 
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5); 
  
}

#text {
  margin: 0px 30px;
}

footer {
  color:grey;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  text-align: center;
}

#logout{
  background-color: lightyellow;
  border-radius: 10px;
  margin-top: 8px;
  margin-right: 10px;
}

button {
  margin-right: 10px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5);

}

button span{
  margin-left: 10px;
  color: #990033;


}

