body {
  padding: 50px;
  background-color: lightblue;
  font: 20px "Lobster", sans-serif;
}

a {
  color: #00B7FF;
}

.time{
  margin: 0 30px;
  color: grey;
}

.postline{
  margin: 0px 45px;
}

.postfield{
  background-color: #99CCFF;
  border-radius: 20px;
  margin-top: 10px;
  padding: 1%;
  }

li{
  list-style-type: none;
}
  
.nav.nav-pills{
  border-radius: 10px;
  background-color: lightgreen;
  font-size: 20px;
  margin-top: -40px;  
  
}

#text {
  margin: 0px 30px;
}

footer {
  color:grey;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  text-align: center;
}

#logout{
  background-color: lightyellow;
  border-radius: 10px;
  margin-top: 8px;
  margin-right: 10px;
}